:root{
    --green: hsl(75, 94%, 57%);

    --White: hsl(0, 0%, 100%);
    
    --rey-700: hsl(0, 0%, 20%);
    --Grey-800: hsl(0, 0%, 12%);
    --Grey-900: hsl(0, 0%, 8%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}